<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIGNUP</title>
    <link rel="stylesheet" href="{{url_for ('static', filename='log.css')}}">
</head>
<body>
    <div class="container">
        <div class="signup">
           <a href="/">LOG IN</a> 
            </div>
        <div class="forms1">

                
                <form action="" class=container>
                    <div class="containerform">
                    <label for="username">USERNAME: </label>
                    <input 
                    type="text"
                    name="username"
                    placeholder="username"
                    class="inputs"
                    
                    ></div>
                    
                <div class="containerform">
                    <label for="email">EMAIL: </label>
                    <input 
                    type="text"
                    name="email"
                    placeholder="email"
                    class="inputs"
                    >
                </div>
                <div class="containerform">
                    <label for="password">PASSWORD: </label>
                    <input 
                    type="password"
                    name="username"
                    placeholder="password"
                    class="inputs"
                    >
                </div>

                ,<input type="submit" value="Submit" class="submit">
                </form>

                

                </div>
            </div>

</body>
</html>